<h1>Adicionar galinha</h1>
<%= label_tag 'Nome' %>
<%= text_field_tag 'chicken[name]' %><br>
<%= label_tag 'Cor' %>
<%= text_field_tag 'chicken[color]' %><br>
<%= submit_tag 'Salvar', :class => 'button botaoSalvar', :id => 'salvar'%>
